<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publisher Ingressos</title>
</head>
<body>
    <div>
        <form action="{% url 'compra' %}" method="POST">

            <h1>Compre seu ingresso:</h1>

            <label for="fileira">Fileira:</label>
            <input name="fileira" id="fileira" required>

            <br>
            
            <label for="numero">Número:</label>
            <input name="numero" id="numero" required>

            <br>

            <button>Comprar</button>

        </form>
    </div>
</body>
</html>